@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* EDITOR */
#pdfRoot #toolbarContainer {
  border-top: 1px solid var(--separator-color);
}

#pdfRoot .delete {
  position: relative;
}

#pdfRoot .delete::before {
  position: absolute;
  top: 0;
  left: 0;
}
#pdfRoot .thumbnailImage {
  max-height: 100%;
}

#pdfRoot #thumbnailView {
  width: 100%;
}
